.card img.card-img-top {
    height: 250px;
    width: auto;
    max-width: 100%;
    margin: auto;
}

body {
    background: #f8f9fa;
}

.pro_title {
    color: #555;
}

.price {
    color: #fe980f;
    font-size: 26px;
    padding-top: 20px;
}

.inputfield {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart {
    color: #fe980f;
    font-size: 15px;
    background: #f4f1de;
    border: 1px solid grey;
}

.p-desc {
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-text {
    font-family: roboto;
    font-size: 15px;
}

/* quatity plus minus css */
.center {
    width: 150px;
    margin: 40px auto;

}


/* cart css */

.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }



    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}